/src/node_modules
/src/public/hot
/src/public/storage
/src/public/css
/src/public/js
/src/public/mix-manifest.json
/src/storage/*.key
/src/vendor
/src/resources/views/sitemap.xml
.env
.env.example
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
