/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/public/css
/backend/public/js
/backend/public/mix-manifest.json
/backend/storage/*.key
/backend/vendor
/backend/resources/views/sitemap.xml
.env
.env.example
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
